/* CSS/style.css */
body {
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f9f2;
}

nav {
    background-color: #2e7d32;
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

.container {
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

.section {
    margin-top: 40px;
}

.section h2 {
    color: #2e7d32;
    border-bottom: 2px solid #a5d6a7;
    padding-bottom: 10px;
}

.card {
    background: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    display: inline-block;
    width: 260px;
    margin: 10px;
    vertical-align: top;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
	min-height: 410px;
}

.card img {
    width: 100%;
    height: 180px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    object-fit: cover;
}

.card-content {
    padding: 10px;
}
.card-content p {
    min-height: 44px;
}
button {
    background-color: #2e7d32;
    color: white;
    border: none;
    padding: 8px 12px;
    margin: 5px 2px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #388e3c;
}

.cart-card {
    display: flex;
    align-items: center;
    background: white;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
}

.cart-card img {
    width: 80px;
    height: 80px;
    border-radius: 5px;
    margin-right: 10px;
}

.cart-details {
    flex-grow: 1;
}

.total {
    font-weight: bold;
    font-size: 18px;
    text-align: right;
}

.container.bg-image{
    background-image: url('https://www.shutterstock.com/image-photo/nursery-shed-shelters-potted-indoor-260nw-1187505259.jpg');
    background-size: 100%;
    background-position: center;
    color: white;
    text-align: center;
    padding: 0;
    height: 400px
}
.container.bg-image h1{
    padding-top: 150px;
}
.container.bg-image p{
    font-size: 16px;
    max-width: 80%;
    margin: 0 auto;
    padding-bottom: 20px;
}